@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #1a232e;
  /* font-style: italic; */
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(274deg 76% 51%) 0%,
    hsl(274deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.text-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}

.text-gradient-animate {
  background: linear-gradient(
    270deg,
    #8d39a3,
    #7d7afb,
    #85d2ff,
    #7d7afb,
    #8d39a3,
    #65c4fa
  );
  background-size: 300% 300%;
  background-clip: text;
}

.gradient-02 {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  top: 50%;
  right: 0;

  background: rgba(122, 236, 251, 0.5);
  filter: blur(50px);
  z-index: -1;
}

.gradient-03 {
  position: absolute;
  width: 20vw;
  height: 50vh;
  border-radius: 50%;
  left: 0%;
  top: 5%;
  z-index: -1;

  background: rgba(124, 122, 251, 0.599);
  filter: blur(50px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 50%;
  bottom: 10%;
  border-radius: 300px;
  z-index: -1;

  background: #ac62c6b5;
  filter: blur(50px);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.042);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 8%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(4px);
  border-color: rgba(149, 66, 232, 0.112);
}

@media (max-width: 768px) {
  .gradient-04 {
    width: 100px;
    height: 100px;
    filter: blur(60px);
  }
  .gradient-02 {
    width: 100px;
    height: 100px;
    filter: blur(50px);
  }
  .gradient-03 {
    width: 100px;
    height: 100px;
    filter: blur(50px);
  }
}

.shape-1 {
  width: 30vw;
  height: 30vh;
  background-color: #8d39a3;
  border-radius: 50%;
  position: absolute;
  animation: moving1 10s infinite;
}
.shape-2 {
  width: 30vw;
  height: 30vh;
  background-color: #65c4fa;
  border-radius: 50%;
  position: absolute;
  animation: moving2 10s infinite;
}
.shape-3 {
  width: 30vw;
  height: 30vh;
  background-color: #a509ff;
  border-radius: 50%;
  position: absolute;
  animation: moving1 10s infinite;
}

@keyframes moving1 {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 0;
    top: 10vh;
  }
  50% {
    left: 100px;
    top: 20vh;
  }
  75% {
    left: 50px;
    top: 10vh;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes moving2 {
  0% {
    right: 0px;
    top: 0px;
  }
  25% {
    right: 50px;
    top: 100px;
  }
  50% {
    right: 100px;
    top: 30vh;
  }
  75% {
    right: 0;
    top: 10vh;
  }
  100% {
    right: 0px;
    top: 0px;
  }
}

@keyframes moving3 {
  0% {
    right: 0px;
    bottom: 0px;
  }
  25% {
    right: 15vw;
    bottom: 10vh;
  }
  50% {
    right: 25vw;
    bottom: 20vh;
  }
  75% {
    right: 10vw;
    bottom: 30vh;
  }
  100% {
    right: 0px;
    bottom: 0px;
  }
}

.animate-gradient-1 {
  animation: moving1 10s infinite;
}

.animate-gradient-2 {
  animation: moving2 10s infinite;
}

.animate-gradient-3 {
  animation: moving3 10s infinite;
}
